#wrapper {
    max-width: 200px;
}

#wrapper p {
    font-size: 15px;
}

#button {
    width: 150px;
    height: 50px;
    font-size: 23px;

    display: block;
    margin: 0 auto;
    margin-top: 30px;
}